header {
    background-color: #FFE400;
    height: 80px;
    display: flex;
    justify-content: left;
    box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.2);
}

nav{
    position: relative;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

article {
    background-color: transparent;
}

.logo {
    height: 60px;
    width: auto;
    margin: auto 20px auto 40px;
}